.footer{
    height: 6rem;
    background-color: rgb(29, 28, 28);
    margin-top: 4rem;
}

.footer p{
    text-align: center;
    color: #dad3d3;
    font-size: 1.4rem;
    padding: 1.7rem .7rem 0rem .7rem;
}

.link{
    text-decoration: underline;
    color: currentColor;
    
}

@media (max-width: 500px){
    .footer p{
        font-size: 1.25rem;
    }
}